@import '../../scss/config';
.background {
  background-color: rgb(255, 250, 250);
}
.wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
.container {
  padding: 20px 20px;
}
.content {
}
.title {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width: $sm) {
    padding-bottom: 0px;
  }
}

.content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  @media (max-width: $xl) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  @media (max-width: $lg) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
