@import '../../scss/config';

.background{
background-color: #24292f;
}
.wrapper{
    position: relative;
    max-width: 1280px;
}
.container{
    padding: 20px 20px;
    display: flex;
    @media (max-width: $md) {
        display: block;
      }
}
.logo{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    @media (max-width: $md) {
        padding-left: 20px;
        padding-bottom: 0px;
      }
}

.img{
    width: 160px;
}
.img:hover{
    opacity: 0.65;
    // width: 162px;
}
.content{
    position: relative;
    display: block;
    padding-top: 20px;
    padding-left: 100px;
    @media (max-width: $md) {
        padding-left: 20px;
      }
}
.title{
color: white;
font-weight: bold;
font-size: 24px;
}
.search{
    padding-top: 50px;
    @media (max-width: $md) {
        padding-bottom: 40px;
      }
}