@import '../../scss/config';

.root {
  position: relative;
}

.icon {
  width: 24px;
  height: 24px;
  opacity: 0.3; //устанавливает непрозрачность элемента
  position: absolute;
  top: 12px;
  left: 14px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 42px;
  transition: all 0.15s ease-in-out;
  @media (max-width: $md) {
    width: 220px;
  }
  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 400px;
    @media (max-width: $md) {
      width: 260px;
    }
  }
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  // right: 0px;
  left: 270px;
  top: 14px;
  cursor: pointer; //изменение вида курсора
  @media (max-width: $md) {
    left: 200px;
    top: 16px;
  }
  &:hover {
    opacity: 0.8;
  }
}
