.SCSS {
    font-size: 50px;
    font-weight: 800;      
    color: #C6538C;
  }


  .HTML {
    font-size: 50px;
    font-weight: 800;      
    color: #E34C26;
  }
  .JavaScript {
    font-size: 50px;
    font-weight: 800;      
    color: #F1E05A;
  }
  .TypeScript {
    font-size: 50px;
    font-weight: 800;      
    color: #3178C6;
  }
  