.SCSS {
    font-size: 40px;
    font-weight: 800;      
    color: rgb(255, 0, 187);
    
  }


  .HTML {
    font-size: 40px;
    font-weight: 800;      
    color: rgb(255, 0, 51);
  }
  .JavaScript {
    font-size: 40px;
    font-weight: 800;      
    color: rgb(247, 247, 0);
  }
  .TypeScript {
    font-size: 40px;
    font-weight: 800;      
    color: rgb(51, 2, 247);
  }
  