@import '../../scss/config';

.background {
}
.wrapper {
  max-width: 800px;
  padding-top: 0px;
  // margin: 0 auto;
}
.preview {
  // margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  // text-align: center;
  padding-bottom: 20px;
  @media (max-width: $lg) {
    padding-top: 40px;
  }
}
.container {
  padding-left: 20px;
}
.content {
  // display: flex;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  @media (max-width: $xl) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  @media (max-width: $lg) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

.border {
  border: 1px solid #000000;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 330px;
}
.title {
  display: flex;
  padding-top: 10px;
}
.subtitle {
  display: flex;
  padding-top: 12px;
  padding-bottom: 10px;
}
.book {
  width: 14px;
  height: 100%;
  margin-left: 10px;
  margin-top: 3px;
}
.name {
  font-size: 14px;
  font-weight: 600;
  color: #0969da;
  padding-left: 10px;
}
.visibility {
  padding: 0 7px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 2em;
  border-color: rgb(183, 183, 183);
  margin-left: 10px;
}

.language {
  font-size: 12px;
  color: #57606a;
  padding-left: 6px;
  padding-top: 6px;
}
.countStar {
  display: flex;
  padding-left: 20px;
  padding-top: 4px;
}
.star {
  width: 14px;
  height: 100%;
}

.stargazers_count {
  margin-left: 4px;
}

.link {
  display: flex;
  border: 1px solid #000000;
  border-radius: 50px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  padding: 10px;
  background-color: rgb(180, 196, 196);
  max-width: 230px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  @media (max-width: $lg) {
    margin-top: 20px;
    margin-left: 20px;
  }
  @media (max-width: $ssm) {
    margin-left: 0px;
  }
}

.link:hover,
.link:active {
  background-color: rgb(152, 175, 175);
}

.point {
  position: relative;
  padding-left: 10px;
  font-size: 0px;
  line-height: 0px;
}
